.App {
  text-align: center;
  height: 100vh;
  max-width: 100vw;
  background-color: transparent;
}
.App .container {
  min-width: 400px;
  width: 100vw;
  max-width: 1200px;
  margin: auto;
  margin-top: clamp(7rem, 17vh, 50%);
}
#page-content {
  padding-top: 10vh
}