html {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(9, 10, 10);
  overflow-y: scroll;
  overflow-x: hidden;
  overscroll-behavior: none;
}
.separatorCurve {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio:4/1;
  z-index: -1;
  overflow: hidden;
  line-height: 0;
  position: relative;
  margin-top: -3%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
