html {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(9, 10, 10);
  overflow-y: scroll;
  width: 100vw;
}
section {
  position: relative;
  min-height: 10vh;
  padding: .5rem 10%;
}
.separatorCurve {
  width: 100%;
  position: absolute;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio:2/1;
  z-index: -1;
  overflow: hidden;
  line-height: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
