footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
    aspect-ratio: 3/1 !important;
    width: auto !important;
}
#footer {
    z-index: -1;
    margin-top: -8%;
}
.socials {
    margin-bottom: 2rem;
    width: 100%;
}
.socials a {
    text-decoration: none;
}
.socials i {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    margin: 1rem;
}
footer p {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}


@media screen and (max-width: 768px) {
    footer {
        padding: 12% 0 0 0;
        aspect-ratio: 4/1 !important;
    }
    .socials i {
        font-size: 1.6rem;
    }
    footer p {
        margin-bottom: 7%;
    }
}
    