#home {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 100vw;
}
section {
    position: relative;
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#featured-title {
    color: rgb(178, 205, 210);
    font-size: 1.85rem;
    font-weight: 500;
    position: absolute;
    bottom: 10%;
    left: 1.5rem;
}
#featured-bottom {
    z-index: -2;
    margin-top: -8%;
}
#contact-top {
    z-index: -3;
    margin-top: -10%;
}
#contact-bottom {
    z-index: -4;
    margin-top: -7%;
}

@media screen and (max-width: 768px) {
    #featured-title {
        font-size: 1.15rem;
        bottom: -1%;
        left: 1%;
        line-height: 1.5;
    }
}