footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
    aspect-ratio: 3/1 !important;
}
#footer {
    z-index: -1;
    margin-top: -8%;
}