#entry-list {
    margin-top: 5%;
    padding: 0 10%;
    min-width: 80%;
}
.aboutList {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.aboutList h5 {
    margin-top: 2.5rem;
    text-align: left;
    font-size: 2.5rem;
    color: rgb(173, 113, 164);
}
#entry-list .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1.5rem;
}
#entry-list .list .entryCard {
    height: 100%;
    margin-bottom: 2rem;
    background-color: rgba(7, 114, 85, .85) !important;
}
#entry-list .list .entryCard:hover {
    box-shadow: none;
}