@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(20%);
    }
}
#intro {
    margin-top: 15vh;
    justify-content: flex-start;
}
#intro-titles {
    margin-top: 2.5rem;
    text-align: left;
    margin-left: 10%;
}
#intro-titles h2 {
    color: rgb(173, 113, 164);
    font-size: 2.5rem;
    font-weight: 700;
    font-style: italic;
    margin: 0
}
#intro-titles h3 {
    color: rgb(178, 205, 210);
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0
}
#front-img {
    width: 25%;
    margin: 0 10% 0 0;
    transform: translateY(20%);
    animation: appear 1s ease-in-out;
}

@media screen and (max-width: 768px) {
    #intro {
        margin-top: 10%;
    }
    #intro-titles {
        margin-left: 2%;
    }
    #intro-titles h2 {
        font-size: 1.5rem;
    }
    #intro-titles h3 {
        font-size: 2.6rem;
    }
    #front-img {
        display: none;
    }
}