#about {
    min-height: 85vh;
    margin-bottom: 5rem;
}
#about-text {
    margin-top: 6.75rem;
}
#about-text h1 {
    font-size: 3rem;
    font-weight: 700;
    color: rgb(173, 113, 164);
}
#about-text p {
    font-size: 2rem;
    color: rgb(178, 205, 210);
    text-align: left;
    margin-left: 2rem;
}
#about-text i {
    color: rgb(173, 113, 164);
    font-size: 2rem;
}

@media screen and (max-width: 768px) {
    #about {
        margin-bottom: 2rem;
    }
    #about-text {
        margin-top: 2rem;
    }
    #about-text p {
        font-size: 1.35rem;
        color: rgb(178, 205, 210);
        text-align: center;
        margin: 1rem;
    }
}