#Menu-actions {
    margin: 0;
    padding: 0;
}
.MuiSpeedDialAction-staticTooltipLabel {
    background-color: rgba(9, 10, 10, .9) !important;
    font-size: 1.1rem !important;
    color: #fff !important;
    margin: 0 !important;
}