#contact {
    background-color: rgb(173, 113, 164);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -6%;
}
#questions {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20%
}
#questions h6 {
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(9, 10, 10);
}
#questions :nth-child(2) {
    transform: translateY(-2.5rem);
}
#contact-title {
    font-size: 1.75rem;
    font-weight: 300;
    margin: 0rem 0rem 1.25rem 0rem;
}
#contact form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    gap: 1rem;
    min-width: 15rem;
    width: 50%;
    max-width: 35rem;
}
#contact form textarea {
    resize: vertical;
}
.contactData {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5%;
}
.contactField {
    flex-grow: 1;
}
#contact form .error {
    margin: 0;
    color: whitesmoke;
    font-size: .75rem;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    #questions {
        width: 99%;
        gap: 1rem;
        justify-content: space-around;
        margin: 0 .5rem;
    }
    #questions h6 {
        font-size: 1rem;
    }
    #contact-title {
        font-size: 1.2rem;
    }
    #contact form {
        width: 90%;
        max-width: 35rem;
    }
}